<!DOCTYPE html>
<html lang="zh_cn">

  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <!--<title>haha</title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link href="/css/responsive-nav.css" rel="stylesheet">

    <link rel="stylesheet" href="css/responsive-nav-advanced-left-styles.css">

    <script src="../../responsive-nav.js"></script>

    <!--<link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div role="navigation" id="foo" class="nav-collapse">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <div role="main" class="main">
      <a href="#nav" class="nav-toggle">Menu</a>
      <h1>Prototype</h1>

      <hr />
      <p class="intro">Despite the apparent simplicity, there are many underlying factors which, when thought out and implemented properly, can make that simple solution even better without adding more complexity to the user&nbsp;interface.</p>





